.advantages{
    @include centeredFlex();
   

}



.advantages__list{
    @include centeredFlex();
    margin-left: auto;
    margin-right: auto;
}


.advantages__item:not(:last-child){
    margin-right: 30px;
}




.advantages__icon{
    display: block;
    position: relative;
    width: 270px;
    height: 120px;
    background-color:  var(--button-bg-color);
    margin-bottom: 30px;
    
}
.advantages__icon-svg{
    position:absolute;
    top: 25%;
    left: 100px;
    width: 70px;
    height: 70px;
   
    
}