.work-list{
    display: flex;
    justify-content: center;
    min-width: 73px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
   
    
}
.work-list .item + .item{
    margin-left: 8px;
}